body {
    font-family: "roboto";
    color: #272829;
  }
  
  a {
    color: #149ddd;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
    border-radius: 5px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "roboto";
    color: white;
  }
  h5{
    margin-top: 7px;
    text-align: center;
    color: white;
    font-size: 12px;
  }
  b{
    color: white;
    font-size: 15px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    }
  h6 {
    color: rgb(146, 146, 146);
    font-size: 12px;
  }

 .btn-info{
  margin-top: 1em;
  border-radius: 10px;
  text-align: center;
 }
  @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
     
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  
  
  @media (max-width: 1199px) {
    #header {
      left: -10px;
    }
  
    #main {
      margin-left: 0;
    }
  }
  
.bi-search{
  color:white;
}
.bi-chevron-right{
  color: #01B7FF;
}
  .search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    outline:1px solid #01B7FF;
    height: 40px;
    border-radius: 50px;
    padding: 0px;
  }
  /* input */
  .search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: left;
    text-indent: 3px;
    font-size: 11px;
    transition: .3s;
    line-height: 40px;
  }
  .search-input::placeholder {
    color: rgb(255, 255, 255);
  }
  /* icon */
  .search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #01B7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .4s;
  }
  .search-input:focus,
  .search-input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn,
  .search-input:focus + .search-btn,
  .search-input:not(:placeholder-shown) + .search-btn {
    background: #01B7FF;
    color: #01B7FF;
  }
  .carousel::-webkit-scrollbar{
      display: none;
  }
.carousel{
    margin-top: 7em;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1em;
    overflow-y: auto;
    overscroll-behavior-x: contain ;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}
.carousel-body{
    scroll-snap-align: start;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stack-body{
    border-radius: 5px;
}